.carousel {
    padding: 82px 0;
    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
    }
    .slick-prev, .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background-color: #fff;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .slick-next {
        left: auto;
        right: -66px;
    }
    .slick-dots {
        padding: 0;
        text-align: center;
        display: flex; 
        justify-content: center; 
        list-style-type: none; 
        border: none;
        button {
            font-size: 0;
            background: #2d2d2d77; // цвет фона
            border: none; // без рамки
            border-radius: 50%; // радиус закругления
            height: 15px; // высота точки
            width: 15px; // ширина точки
            margin: 5px; // отступы между точками
            outline: none; // убираем обводку
        } 
    .slick-active
        button {
            background: $main-color;
            height: 17px; 
            width: 17px;
    }       
        
        
    }  
    
}